@import "normalize";
@import "variables";


*, *:after {
	box-sizing: border-box;
}
body {
	color: #212121;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.5;

  >div{
    &:first-of-type {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 75px auto 150px;
      grid-template-areas: "header"
                          "main" 
                          "aside"
                          "footer";
      @media screen and (min-width: $screen-md-min) {
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 75px auto 100px;
        grid-template-areas:"header header"
                            "aside main"
                            "footer footer";
        grid-column-gap: 2em;
      }
      header {
        background-color: $white;
        border-bottom: 3px solid $purple;
        display: flex;
        grid-area: header;
        justify-content: center;
        margin: 0;
        max-width: 100%;
        padding: 0;
        @media screen and (min-width: $screen-md-min){
          padding-left: 4em;
          padding-right: 4em;
        }
        h1 {
          flex: 1;
          font-size: 1.35em;
          line-height: 1;
          margin: auto;
          min-width: 100%;
          text-align: center;
          @media screen and (min-width: $screen-md-min) {
            font-size: 2em;
          }
        }
      }
	    aside {
        grid-area: aside;
        max-width: 100%;
        @media screen and (min-width: $screen-md-min) {
          padding-left: 1em;
          border-left: 4px solid darkgray;
          background-color: #eaeaea;
        }
      }
      main {
        grid-area: main;
        max-width: 100%;
        @media screen and (min-width: $screen-md-min){
          // padding-left: 4em;
          padding-right: 3em;
        }
      }
      footer {
        background-color: $purple;
        color: white;
        grid-area: footer;
        max-width: 100%;
        @media screen and (min-width: $screen-md-min){
          padding-left: 4em;
          padding-right: 4em;
        }
        p {
          margin-bottom: 0;
          text-align: center;
          min-width: 100%;
        }
        a {
          color: white;
        }     
      }
    }
  }
}
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .section-heading {
    border-bottom: 1px solid #efefef;
    flex: 1;
    min-width: 100%;
  }
}
.list-items {
  display: flex;
  flex: 1;
  min-width: 100%;
  flex-flow: row wrap;
  list-style: none;
  margin: auto;
  padding: 0;
  justify-content: flex-start;
  
  .list-item {
    background-color: $purple-lightest;
    border: 4px solid $purple;
    flex: 1 1 1;
    min-width: 48%;
    margin: 0.25em;

    @media screen and (min-width: $screen-md-min) {
      margin: 1em;
      max-width: 200px;
      min-height: 250px;
      min-width: 200px;
    }
    padding: 0.5em;
    text-align: center;    
  }
}
