{{#a11y-landmark tagName="header"}}
  <h1><a href="/">The Little Online Bookstore</a></h1>
{{/a11y-landmark}}

{{#a11y-landmark tagName="aside"}}
  <div class="center-block">
    <p>This Week's Best Sellers:</p>
    <ol>
      <li>The Great Escape</li>
      <li>Saving Myself</li>
      <li>Something for Later</li>
    </ol>
  </div>
{{/a11y-landmark}}

{{#a11y-landmark tagName="main"}}
  {{outlet}}
{{/a11y-landmark}}

{{#a11y-landmark tagName="footer"}}
  {{!-- <p><small>Yes! It <em>is</em> Ultra Violet, Pantone 2018 Color of the Year! You have a keen eye for detail.</small></p> --}}
  
{{/a11y-landmark}}